[Desktop Entry]
Name=Gundam RTS Multiplayer
Comment=Gundam RTS Multiplayer
Exec=grtslobby
Icon=gundam_rts.png
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
X-SuSE-translate=false
